<div class="result">
  <h1>{{question}}</h1>
  <div class="row text-center">
    <p>số votes: {{votes}} votes</p>
  </div>
</div>

<div class="container">
<div class="progress result-bar">
  <div class="progress-bar question-yes" role="progressbar"  style="width:{{yes}}%">
    <span class="glyphicon glyphicon-thumbs-up"></span>
      {{yes}}%
  </div>
  <div class="progress-bar question-no" role="progressbar" style="width:{{no}}%">
    <span class="glyphicon glyphicon-thumbs-down"></span>
      {{no}}%
  </div>
</div>
</div>
  <button type="button" class="btn btn-success btn-lg"><a href="/"><span class="glyphicon glyphicon-search"></span>Câu hỏi khác</a></button>
</div>
